# === BUILD OUTPUT ===
/dist
/build
/backend/node_modules
/front/node_modules

# === LOG FILES ===
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# === OS SYSTEM FILES ===
.DS_Store

# === TEST COVERAGE ===
/coverage
/.nyc_output

# === IDEs ===
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# === VSCode ===
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# === ENV FILES ===
.env
.env.*
!.env.example

# === TEMP FILES ===
.temp
.tmp

# === RUNTIME FILES ===
pids
*.pid
*.seed
*.pid.lock

# === NODE REPORTS ===
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# === PRISMA OUTPUT ===
/generated/prisma
